<div id="PageHome">
  <div id="block1" style="background: #185abd; color: white;border-bottom: 1px solid black;">
    <div id="basicInfo" style="margin-left: 35px; padding-top: 50px;display: flex;justify-content: space-between;    flex-wrap: wrap;    align-items: center;">

      <div>
        <h1>
          <p>Jonathan LOPEZ GOMEZ</p>
        </h1>
        <h2 style="font-style: italic;font-weight: normal;">
          <p>Chef de projets informatiques ingénierie logicielle - IPI LYON</p>
          <p>28 ans – Célibataire</p>
          <p>Permis B – Véhiculé</p>
        </h2>

        <h1>
          <p>
            CHEF DE PROJETS INFORMATIQUES
            INGENIERIE LOGICIELLE
          </p>
        </h1>
      </div>

      <div style="margin-right: 35px;">
        <img src="https://drive.google.com/uc?export=download&id=1JY58abUaAqMPj2WwOYtM9h4c4yWrrnlB" style="width: 100%; max-width: 150px; ">
      </div>


    </div>

  </div>

  <div id="languette" style="min-width: fit-content;   float: right;  max-width: max-content; border: 1px solid black; z-index: 100; background: white;">
    <div>
      <h3 style="background: #185abd;color: white;text-align-last: center;padding: 15px;margin: 0px;">
        <p>ATOUTS PRINCIPAUX</p>
      </h3>
      <div style="margin: 15px">
        <b>WEB :</b>
        <ul>
          <li>
            PL/SQL
          </li>
          <li>
            PHP7/HTML5/CSS3
          </li>
          <li>
            JQUERY/AJAX
          </li>
          <li>
            JAVASCRIPT
          </li>
          <li>
            RESPONSIVE DESIGN
          </li>
        </ul>

        <b>APPLICATIF :</b>
        <ul>
          <li>
            C#
          </li>
          <li>
            C++
          </li>
          <li>
            Unreal Engine 4 (Blueprint vs c++)
          </li>
        </ul>

      </div>

    </div>

    <div>
      <h3 style="background: #185abd;color: white;text-align-last: center;padding: 15px;margin: 0px;">
        <p>NOTIONS</p>
      </h3>
      <div style="margin: 15px">
        <b>WEB :</b>
        <ul>
          <li>
            Python
          </li>
          <li>
            Mongo db
          </li>
          <li>
            Node Js
          </li>
          <li>
            Angular
          </li>
        </ul>

        <b>APPLICATIF :</b>
        <ul>
          <li>
            Java
          </li>
          <li>
            Android
          </li>
          <li>
            Unity
          </li>
        </ul>
      </div>
    </div>

    <div style="text-align-last: center;">
      <h3 style="background: #185abd;color: white;text-align-last: center;padding: 15px;margin: 0px;">
        <p>FORMATIONS</p>
      </h3>
      <p><b>2021 - 2023</b></p>
      <p>Chef de projet ingénierie logiciel</p>
      <p>(Niveau I) – IPI LYON</p>
      <p><b>2019 - 2020</b></p>
      <p>Concepteur Développeur Full-Stack</p>
      <p>(Niveau II) – IPI LYON</p>
      <p><b>2017 - 2019</b></p>
      <p>BTS SIO</p>
      <p>(Niveau III) – Jacques Brel Vénissieux</p>
      <p><b>2013 - 2015</b></p>
      <p>Sciences Economiques</p>
      <p>(Niveau II) – Université Lumière Lyon 2</p>
      <p><b>2011 - 2013</b></p>
      <p>BAC STG Mercatique</p>
      <p>(Niveau IV) – Lycée Jacques Brel Belleville</p>

    </div>



    <div style="text-align-last: center;">
      <h3 style="background: #185abd;color: white;text-align-last: center;padding: 15px;margin: 0px;">
        <p>LANGUES</p>
      </h3>

      <div style="display: flex;justify-content: space-between; margin: 15px">
        <div>
          <p>
            <img src="https://drive.google.com/uc?export=download&id=1Kxl_ao48Iog75YRYUpkQrph_ruUJHd4D" style="width: 100%; max-width: 50px; ">
          </p>

          <p>
            Lu, parlé, écrit (B2)
          </p>
        </div>

        <div>
          <p>
            <img src="https://drive.google.com/uc?export=download&id=1UKIPs-R-v6U3TnFR-HXxzPy1pbf3XuNr" style="width: 100%; max-width: 50px; ">
            <img src="https://drive.google.com/uc?export=download&id=1sP67pxCE80yAGv5bn1lAyqcL2v-nGpSu" style="width: 100%; max-width: 50px; ">
          </p>
          <p>
            Maternelle
          </p>
        </div>
      </div>

    </div>
    <div>
      <h3 style="background: #185abd;color: white;text-align-last: center;padding: 15px;margin: 0px;">
        <p>INTERETS</p>
      </h3>
      <div style="margin: 15px">
        <ul>
          <li>
            La technologie, l’actualité.
          </li>
          <li>
            La musique (piano).
          </li>
          <li>
            Développement de jeux vidéo.
          </li>
          <li>
            Le Sport (natation, dance).
          </li>
        </ul>

      </div>
    </div>
  </div>
  <div id="block2" style="display: table-cell;">



    <div style="font-size: 18px;min-width: fit-content; width: 100%;">

      <div id="miniIntro" style="margin: 15px;" >
        <i>Je suis actuellement en master 1ère année de CHEF(FE) DE PROJETS
          INFORMATIQUES SPECIALITE INGENIERIE LOGICIELLE (C.D.P.I. IL) en alternance.
          (Niveau I – IPI LYON).
        </i>
      </div>

      <div id="lastTraining" >
        <div style="display: flex;">
          <h3 style="background: #185abd;color: white;text-align-last: left;padding: 10px; inline-size: fit-content;">
            <p style=""><b>Formation concepteur développeur full-stack CDEV</b> (2019 - 2020)</p>
          </h3>
          <h3 style="background: #e0e0e0;color: black;align-self: center;padding: 10px; inline-size: fit-content;">
            <p>IPI LYON</p>
          </h3>
        </div>
        <div style="margin: 15px;">
          <ul>
            <li>
              <b>DÉVELOPPEMENT FRONT-END</b>: HTML5/CSS3/Javascript/jQuery, Responsive Web Design,
              Angular Js, Androïd, Ionic…
            </li>
            <li>
              <b>DÉVELOPPEMENT MIDDLE/BACK-END</b>: Java / JEE, frameworks Spring, Hibernate, serveur
              en Python, systèmes Unix et solutions de virtualisation.
            </li>

            <li>
              <b>BASE DE DONNÉES</b>:  MERISE, BDD Oracle et MySQL, SQL avancé et procédures stockées,
              triggers, NoSQL.

            </li>

            <li>
              <b>CONCEPTION</b>: POO, Tests de l’application (TDD, tests d’intégration), Organisation en
              couches (MVC, SOA).
            </li>

            <li>
              <b>GESTION DE PROJET</b>: Maîtrise des risques et de la qualité, Scrum, Kanban
            </li>
            <li>
              <b>COMPETENCES TRANSVERSES</b>:  Anglais, droit informatique.
            </li>


          </ul>
        </div>

        <h3 style="background: #185abd;color: white;text-align-last: center;padding: 15px; ">
          <p>EXPERIENCES</p>
        </h3>


        <div style="display: flex;">
          <h3 style="background: #185abd;color: white;text-align-last: left;padding: 10px; inline-size: fit-content;">
            <p style=""><b>Développeur full stack junior</b> (Depuis 2019)</p>
          </h3>
          <h3 style="background: #e0e0e0;color: black;align-self: center;padding: 10px; inline-size: fit-content;">
            <p>VILLEURBANNE</p>
          </h3>
        </div>

        <div style="margin: 15px;">
          <p><b>oPhone (Alternant : 2 ans)</b></p>
          <ul>
            <li>
              Développement BACK en PL/SQL.
            </li>

            <li>
              Interaction avec API.
            </li>

            <li>
              Traitement de JSON.
            </li>

            <li>
              Travail d'équipe.
            </li>
            <li>
              Framework APEX 5.
            </li>
          </ul>

        </div>

      </div>

      <div style="display: flex;">
        <h3 style="background: #185abd;color: white;text-align-last: left;padding: 10px; inline-size: fit-content;">
          <p style=""><b>Auto - Entrepreneur</b> (Depuis 2016)</p>
        </h3>
        <h3 style="background: #e0e0e0;color: black;align-self: center;padding: 10px; inline-size: fit-content;">
          <p>DOMICILE</p>
        </h3>
      </div>
      <div style="margin: 15px;">
        <p><b>Prestataire de service informatique, développement de jeux vidéo et de projets pour développeurs (B2B)
        </b></p>
        <ul>
          <li>
            Applications en C# et C++
          </li>

          <li>
            Développement web (PHP, AJAX, JQUERY, HTML 5, CSS, JS)
          </li>

          <li>
            Programmation jeu vidéo (Blueprint (vs c++)) : gameplay, intelligence artificielle,
            animations…
          </li>

          <li>
            Marketing (vente en ligne).
          </li>
          <li>
            Collaboration et gestion d'équipes.
          </li>
        </ul>

      </div>

    </div>





  </div>
  <div id="block3" style="background: #e0e0e0; color: black;border-top: 1px solid black;padding-bottom: 15%; text-align: -webkit-center;  ">

    <div id="contactInfo" style="padding-top: 50px;">

      <div>
        <h1>
          <p>CONTACT</p>


        </h1>
        <div style="text-align: left;max-width: 600px;min-width: fit-content;margin: 35px;">

            <h2 style="font-weight: normal;">
              <p>
                ☎ 07 67 54 63 96
              </p>
            </h2>

            <h2 style="font-weight: normal;">
              <p>
                @ lopez.gomez.jonathan@gmail.com
              </p>
            </h2>

        </div>



      </div>


    </div>
  </div>
</div>
